<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" th:href="@{../static/styles.css}" type="text/css">-->

</head>
<body>


<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>


  <div>
    <form th:action="@{/}" method="post">
      <input type="text" name = "text", placeholder="Enter text...">
      <label for="deadline">Deadline :</label>
      <input type="datetime-local" id="deadline" name="deadline">

      <div id="container">
        <div id="availableGroups">
          <select id="availableList" multiple name="groups">
            <option th:each="group : ${groupList}" th:value="${group.getId()}" th:text="${group.getGroupName()}"></option>
          </select>
        </div>
        <div id="selectedGroups">
          <select id="selectedList" multiple name="groups">
          </select>
        </div>
      </div>
    <button type="submit">Submit</button>
    </form>
  </div>

<table>
  <tr>
    <th>N</th>
    <th>Date</th>
    <th>Message</th>
    <th>Deadline</th>
    <th>Is relevant</th>
    <th>Number of notifications</th>
    <th>Groups</th>


  </tr>
  <tr th:each="notification , iter : ${notifications}">
    <td th:text="${#numbers.sequence(1, #lists.size(notifications))[__${iter.index}__]}"></td>
    <td th:text="${notification.sendingDate}"></td>
    <td th:text="${notification.text}"></td>
    <td th:text="${notification.deadline}"></td>
    <td th:text="${notification.isRelevant ? 'yes' : 'no'}"></td>
    <td th:text="${notification.numOfNotif}"></td>
    <td>
      <span th:each="group, groupIndex : ${notification.subscribers}">
        <span th:text="${group.groupName}"></span>
        <span th:if="${groupIndex.index !=  groupIndex.size - 1} ">, </span>
      </span>
    </td>

  </tr>
</table>


<script>
  const availableList = document.getElementById("availableList");
  const selectedList = document.getElementById("selectedList");

  availableList.addEventListener("click", function() {
    moveSelectedOptions(availableList, selectedList);
  });

  selectedList.addEventListener("click", function() {
    moveSelectedOptions(selectedList, availableList);
  });

  function moveSelectedOptions(sourceList, destinationList) {
    const selectedOptions = Array.from(sourceList.selectedOptions);
    selectedOptions.forEach(option => {
      destinationList.appendChild(option);
    });
  }
</script>

</body>
</html>